@{
    ViewData["Title"] = "主页";
}

<div class="text-center">
    <h3>欢迎使用</h3>
</div>
<div class="card-deck">
    <div class="card">
        <div class="card-header text-center">
            角色与功能
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">系统管理员</h5>
                    </div>
                    <div class="text-muted">
                        管理项目中的岗位、资格类型、组织单位、专业以及使用系统的用户。
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">人事主管</h5>
                    </div>
                    <div class="text-muted">
                        管理各个组织单位中的人员基本信息，以及维护他们拥有的资格证书。
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">项目主管</h5>
                    </div>
                    <div class="text-muted">
                        定义岗位职责所需的资格类型，添加和维护工程项目信息，在项目间调动人员。
                    </div>
                </li>
                <li class="list-group-item">
                    <div>
                        <h5 class="card-title">经理</h5>
                    </div>
                    <div class="text-muted">
                        通过看板查看各工程项目中的人员岗位分布情况，各单位里有资格人员的分布情况，查看个人履历等。
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            主要特点
        </div>
        <div class="card-body lead text-muted">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    管理目标明确，仅涉及项目-岗位-人员-资格
                </li>
                <li class="list-group-item">
                    用户操作简洁，功能导航清晰
                </li>
                <li class="list-group-item">
                    丰富的HTML5功能，展示友好悦目的UI风格
                </li>
                <li class="list-group-item">
                    开放式设计，便于功能拓展
                </li>
                <li class="list-group-item">
                    轻量代码，性能优异
                </li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            即将完善
        </div>
        <div class="card-body text-muted lead">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    在看板中点击项目可以查看项目按月度的人员分布情况
                </li>
            </ul>
        </div>
    </div>
</div>
