
@{ViewData["Title"] = "调配";}

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" asp-action="Index">项目管理</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-action="Require">职责-资格</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" asp-action="Dispatch">人员调配</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
      <div class="card-title">调配人员到项目</div>
  </div>
</div>