@model ProjectViewState
@{ViewData["Title"]="项目";}

<div class="card">
    <div class="card-header text-center">
        @if(Model.ProjectId > 0){
            @: 编辑项目： ID=@(Model.ProjectId)
        }else{
            @: 新建项目
        }
    </div>
    <div class="card-body">
<form method="POST">
    @Html.HiddenFor(m=>m.ProjectId)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="FullName" class="text-right col-form-label col-form-label-sm col-sm-2"></label>
        <div class="col-sm-10">
            <input asp-for="FullName" class="form-control form-control-sm" placeholder="输入项目的完整名称">
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ShortName" class="text-right col-form-label col-form-label-sm col-sm-2"></label>
        <div class="col-sm-10">
            <input asp-for="ShortName" class="form-control form-control-sm" placeholder="输入一个便于记忆的项目简称">
            <span asp-validation-for="ShortName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Owner" class="text-right col-form-label col-form-label-sm col-sm-2"></label>
        <div class="col-sm-10">
            <input asp-for="Owner" class="form-control form-control-sm" placeholder="输入工程项目的业主">
            <span asp-validation-for="Owner" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SitePlace" class="text-right col-form-label col-form-label-sm col-sm-2"></label>
        <div class="col-sm-4">
            <input asp-for="SitePlace" class="form-control form-control-sm" placeholder="输入工程项目所在的国家-省市-位置">
            <span asp-validation-for="SitePlace" class="text-danger"></span>
        </div>
        <label asp-for="ContractAmount" class="text-right col-form-label col-form-label-sm col-sm-2"></label>
        <div class="col-sm-4">
            <input asp-for="ContractAmount" class="form-control form-control-sm" placeholder="单位：万元人民币">
            <span asp-validation-for="ContractAmount" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ContractCode" class="text-right col-form-label col-form-label-sm col-sm-2"></label>
        <div class="col-sm-4">
            <input asp-for="ContractCode" class="form-control form-control-sm" placeholder="输入项目主合同编号">
            <span asp-validation-for="ContractCode" class="text-danger"></span>
        </div>
        <label asp-for="State" class="text-right col-form-label col-form-label-sm col-sm-2"></label>
        <div class="col-sm-4">
            <select asp-for="State" asp-items="@Html.GetEnumSelectList<ProjectState>()" class="form-control form-control-sm"></select>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="BeginDate" class="text-right col-form-label col-form-label-sm col-sm-2"></label>
        <div class="col-sm-4">
            <input asp-for="BeginDate" class="form-control form-control-sm">
            <span asp-validation-for="BeginDate" class="text-danger"></span>
        </div>
        <label asp-for="EndDate" class="text-right col-form-label col-form-label-sm col-sm-2"></label>
        <div class="col-sm-4">
            <input asp-for="EndDate" class="form-control form-control-sm">
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 offset-sm-2">
            <div class="form-check ">
                <input class="form-check-input" asp-for="ActiveStatus">
                <label class="form-check-label" asp-for="ActiveStatus"></label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3 offset-sm-2">
            <button class="btn btn-success btn-sm" asp-action="Edit">提交保存</button>
        </div>
    @if(Model.ProjectId > 0){
        <div class="col-sm-3">
            <button class="btn btn-danger btn-sm" asp-action="Delete"
                onclick="if(confirm('删除项目的操作不可恢复，确实要删除吗？')==false)return false;">删除项目</button>
        </div>
    }
        <div class="col-sm-4">
            <a class="btn btn-default btn-sm" asp-action="Index">返回列表</a>
        </div>
    </div>
</form>

    </div>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}