@model RefViewMode

@{
    ViewData["Title"] = Model.Type;
}

@if(Model.ID<=0)
{
    <h5>新建@(Model.Type)</h5>
}
else
{
    <h5>编辑@(Model.Type)：ID=@Model.ID.ToString()</h5>
}

<form role="form" method="POST" style="width: 480px; margin-top:20px;">
    @Html.HiddenFor(m=>m.ID)
    @Html.HiddenFor(m=>m.Type)
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Code" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Code" class="form-control" placeholder="输入不长于50位的编号">
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Name" class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">
            <input asp-for="Name" class="form-control" placeholder="输入不超过200字符的名称">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-9 offset-sm-3">
            <div class="form-check ">
                <input class="form-check-input" asp-for="ActiveStatus">
                <label class="form-check-label" asp-for="ActiveStatus"></label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 offset-sm-3">
             <button asp-action="EditReference" class="btn btn-success">提交保存</button>
        </div>
        <div class="col-sm-5">
            <a asp-action="References" asp-route-t="@RefViewMode.Parse(Model.Type)"
                class="btn btn-default">返回@(Model.Type)列表</a>
        </div>
    </div>
    @if(Model.ID>0)
    {
        <div class="form-group row">
            <div class="col-sm-4 offset-sm-3">
                <button asp-action="DeleteReference" class="btn btn-danger"
                    onclick="if(confirm('删除@(Model.Type)是不可恢复的操作，确实要删除吗？')==false)return false;">删除@(Model.Type)</button>
            </div>
        </div>
    }
</form>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
